        .bell {
            position: fixed;
            bottom: 50px;
            right: 50px;
            width: 80px;
            height: 80px;
            border-radius: 50px;
            border: 6px solid cadetblue;
            font-size: 50px;
            color: cadetblue;
            text-align: center;
            line-height: 80px;
            transition: .2s;
            cursor: pointer;
        }

        .bell i {
            animation: rotate 0.5s linear infinite alternate;
            transform-origin: 50% 0;
            transition: .2s;
        }

        .bell:hover i {
            color: white;
            animation-duration: 0.19s;
            /* TUTAJ USTAWIAM ZMIANE CZASU  
            
            A POD SPODEM ZATRZTMANIE ZNIMACJI POPRZEZ NAJECHANIE NA DZWONECZEK

            Animation-play-state: paused;

            MOGE TEZ NAPISAC: 
            animation: none; WYLACZENIE TEJ ANIMACJI (RUSZANIE SIE DZWONKA)*/


        }

        .bell:hover {
            background-color: cadetblue;
        }

        @keyframes rotate {
            0% {
                transform: rotate(30deg);
            }

            100% {
                transform: rotate(-30deg);
            }
        }